<h1>Ember Connections</h1>
<h2>It all begins here in the 'app/templates/application.js' file, that looks like this:</h2>

{{!-- All these numbers and things are just an html way of rendering curly brackets --}}
&#123;&#123;any-name&#125;&#125;
<br>
&#123;&#123;outlet&#125;&#125;

{{!-- This connects to the component of the same name --}}
{{any-name}}

{{outlet}}

<br><br><br>